html,
body {
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn-primary {
    background: #606c88 !important;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88) !important;
    background: linear-gradient(to right, #3f4c6b, #606c88) !important;
}

.btn-primary:hover {
    background-color: #86165700 !important;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%) !important;
}